{% extends "main/base.html" %}

{% block title %}
Страница про нас
{% endblock %}

{% block menu%}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
<li class="nav-item"><a href="#" class="nav-link">Каталог</a></li>
<li class="nav-item"><a href="#" class="nav-link">Доставка и оплата</a></li>
<li class="nav-item"><a href="#" class="nav-link">Документация</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link active" aria-current="page">Контакты</a></li>
{% endblock %}

{% block content %}
<h1>Страница про нас</h1>
    <p>Просто текст</p>
{% endblock %}
