{% extends "main/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block menu%}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
<li class="nav-item"><a href="#" class="nav-link">Доставка и оплата</a></li>
<li class="nav-item"><a href="#" class="nav-link">Документация</a></li>
<li class="nav-item"><a href="{% url 'create' %}" class="nav-link active" aria-current="page">Oтзывы</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Контакты</a></li>
{% endblock %}

{% block content %}
<h1>Oтзывы</h1>
{% for comment in comments %}
    <p>
      <b>{{ comment.author }}</b> пишет:
    </p>
    <p>{{ comment.body }}</p>
    {{comment.created_on.date }}
    <hr>
    {% endfor %}
<h3>Оставьте свой отзыв</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.author }}<br>
    {{ form.body }}<br>
    <button type="submit" class="btn btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Оставить отзыв</font></font></button>
    <span>{{ error }}</span>
  </form>
{% endblock %}

