{% extends "main/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block menu%}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">Главная</a></li>
<li class="nav-item"><a href="#" class="nav-link">Доставка и оплата</a></li>
<li class="nav-item"><a href="#" class="nav-link">Документация</a></li>
<li class="nav-item"><a href="{% url 'create' %}" class="nav-link">Oтзывы</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Контакты</a></li>
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
    {% if tasks %}
    {% for el in tasks %}
    <div class="alert alert-warning mt-2">
        <h3>{{el.title}}</h3>
        <p>{{el.task}}</p>
        <p>{{el.clock}}</p>
    </div>
    {% endfor %}
    {% else %}
        <p>Записей нет</p>
    {% endif %}
{% endblock %}
